@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@400;700&display=swap');

html {
	height: 100%;
	min-height: 800px;
}
body {
	height: 1000px;
	background: url('background.webp');
	background-size: cover;
	background-repeat: repeat-y;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.quiz__menu {
	padding: 4%;
	max-width: 50%;
	margin: auto;
	background: white;
	background: rgba(255, 255, 255, 0.9);
	backdrop-filter: blur(10px);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
	border-radius: 1%;
	transition: transform 0.2s ease-in-out;
}
@media (max-width: 768px) {
	.quiz__menu {
		padding: 0;
		max-width: 85%;
		margin: auto;
		background: white;
		background: rgba(255, 255, 255, 0.9);
		backdrop-filter: blur(10px);
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
		border-radius: 1%;
		transition: transform 0.2s ease-in-out;
	}
}

h1 {
	font-weight: 400;
	padding-top: 4%;
	margin-top: 0;
	font-family: 'Roboto Slab', serif;
}
.header {
	margin: 0;
	position: sticky;
	top: 0;
	width: 100%;
	display: block;
	background-color: #ffffff;
	height: 8%;
	position: fixed;
	z-index: 9999;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif !important;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.9;
}
.header div {
	font-family: 'DynaPuff' !important;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 300%;
}
.logoHeader {
	height: 90%;
	width: auto;
}
.checkbox-column {
	/* display: grid;
    grid-template-columns: 1fr 1fr;
    /*************************/
	/* max-width: 330px;
    width: 100%;
    margin-bottom: 10px; */
	/* column-count: 2; */
}
.checkbox {
	transform: scale(1.4);
	color: aquamarine;
}
.checkbox-item {
	margin: 1px;
	text-align: center;
	font-size: 20px;
	display: inline-block;
	padding: 5px;
}
.quiz__questions__answers {
	list-style: none;
}

.answer-input {
	width: 100%;
	margin: 7px 0px;
	display: inline-block;
	padding: 12px 25px;
	box-sizing: border-box;
	border-radius: 10px;
	border: 1px solid lightgrey;
	font-size: 1em;
	font-family: inherit;
	background: white;
}
.quiz__results__result {
	margin: 1%;
	margin-bottom: 25px;
	display: inline-block;
	border-radius: 5px;
	border: 2px solid black;
	padding: 10%;
}
.quiz__results__result[hidden] {
	display: none;
}
p {
	text-align: center;
	margin-top: 0;
	font-size: 150%;
}
.button {
	margin-left: 30px;
	width: 200px;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: lightgreen;
	border: none;
	border-radius: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: rgb(125, 207, 125);
}

.button:active {
	background-color: rgb(114, 192, 114);
}

.button[hidden] {
	display: none;
}
.button[disabled] {
	margin-left: 30px;
	width: 200px;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: rgb(197, 250, 197);
	border: none;
	border-radius: 20px;
	margin-bottom: 20px;
	cursor: default;
	transition: background-color 0.3s;
}

.hexagon {
	margin-bottom: 1.5em;
	overflow: hidden;
	position: relative;
	width: 15em;
	height: 15em;
}
.hexagon__group, .hexagon__sector, .hexagon__sector:before, .hexagon__sector:after {
	position: absolute;
}
.hexagon__group {
	width: 100%;
	height: 100%;
}
.hexagon__group:nth-child(2) .hexagon__sector,
.hexagon__group:nth-child(2) .hexagon__sector:before,
.hexagon__group:nth-child(2) .hexagon__sector:after {
	animation-delay: calc(var(--dur) * -1/6);
}
.hexagon__group:nth-child(3) .hexagon__sector,
.hexagon__group:nth-child(3) .hexagon__sector:before,
.hexagon__group:nth-child(3) .hexagon__sector:after {
	animation-delay: calc(var(--dur) * -2/6);
}
.hexagon__group:nth-child(4) .hexagon__sector,
.hexagon__group:nth-child(4) .hexagon__sector:before,
.hexagon__group:nth-child(4) .hexagon__sector:after {
	animation-delay: calc(var(--dur) * -3/6);
}
.hexagon__group:nth-child(5) .hexagon__sector,
.hexagon__group:nth-child(5) .hexagon__sector:before,
.hexagon__group:nth-child(5) .hexagon__sector:after {
	animation-delay: calc(var(--dur) * -4/6);
}
.hexagon__group:nth-child(6) .hexagon__sector,
.hexagon__group:nth-child(6) .hexagon__sector:before,
.hexagon__group:nth-child(6) .hexagon__sector:after {
	animation-delay: calc(var(--dur) * -5/6);
}
.hexagon__group:nth-child(odd) {
	transform: rotate(30deg);
}
.hexagon__sector, .hexagon__sector:before, .hexagon__sector:after {
	animation-duration: var(--dur);
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*animation-play-state: paused;*/
	width: 0.2em;
	height: 0.2em;
}
.hexagon__sector {
	animation-name: moveOut1;
	top: calc(50% - 0.1em);
	left: calc(50% - 0.1em);
}
.hexagon__sector:nth-child(2) {
	animation-name: moveOut2;
}
.hexagon__sector:nth-child(3) {
	animation-name: moveOut3;
}
.hexagon__sector:nth-child(4) {
	animation-name: moveOut4;
}
.hexagon__sector:nth-child(5) {
	animation-name: moveOut5;
}
.hexagon__sector:nth-child(6) {
	animation-name: moveOut6;
}
.hexagon__sector:before, .hexagon__sector:after {
	animation-name: ripple;
	background-color: currentColor;
	border-radius: 0.1em;
	content: "";
	display: block;
	top: 0;
	left: 0;
	transform-origin: 0.1em 0.1em;
}
.hexagon__sector:before {
	transform: rotate(-30deg)
}
.hexagon__sector:after {
	transform: rotate(-150deg)
}
/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: #17181c;
		--fg: #e3e4e8;
	}
}
/* Animations */
@keyframes moveOut1 {
	from { transform: translateY(0) scale(0); }
	3% { transform: translateY(0.2em) scale(1); }
	97% { transform: translateY(7.3em) scale(1); }
	to { transform: translateY(7.5em) scale(0); }
}
@keyframes moveOut2 {
	from { transform: rotate(60deg) translateY(0) scale(0); }
	3% { transform: rotate(60deg) translateY(0.2em) scale(1); }
	97% { transform: rotate(60deg) translateY(7.3em) scale(1); }
	to { transform: rotate(60deg) translateY(7.5em) scale(0); }
}
@keyframes moveOut3 {
	from { transform: rotate(120deg) translateY(0) scale(0); }
	3% { transform: rotate(120deg) translateY(0.2em) scale(1); }
	97% { transform: rotate(120deg) translateY(7.3em) scale(1); }
	to { transform: rotate(120deg) translateY(7.5em) scale(0); }
}
@keyframes moveOut4 {
	from { transform: rotate(180deg) translateY(0) scale(0); }
	3% { transform: rotate(180deg) translateY(0.2em) scale(1); }
	97% { transform: rotate(180deg) translateY(7.3em) scale(1); }
	to { transform: rotate(180deg) translateY(7.5em) scale(0); }
}
@keyframes moveOut5 {
	from { transform: rotate(240deg) translateY(0) scale(0); }
	3% { transform: rotate(240deg) translateY(0.2em) scale(1); }
	97% { transform: rotate(240deg) translateY(7.3em) scale(1); }
	to { transform: rotate(240deg) translateY(7.5em) scale(0); }
}
@keyframes moveOut6 {
	from { transform: rotate(300deg) translateY(0) scale(0); }
	3% { transform: rotate(300deg) translateY(0.2em) scale(1); }
	97% { transform: rotate(300deg) translateY(7.3em) scale(1); }
	to { transform: rotate(300deg) translateY(7.5em) scale(0); }
}
@keyframes ripple {
	from, to { width: 0.2em; }
	33% { width: 2.4em; }
}